{% extends 'layout.html' %}

{% block stylefile %}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block form %}
    <form id="form_data" class="needs-validation" action="/add-new-data" method="post" novalidate>
        <div id="formStep1" class="conteiner">
            <h1 class="h3 mb-3 fw-normal">Customer Information</h1>
            <div class="form-floating">
                {% if 'company_name' in data %}
                    <input type="text" name="company_name" class="form-control bg-grey" id="company_name" value="{{ data['company_name'] }}" required>
                {% else %}
                    <input type="text" name="company_name" class="form-control bg-grey" id="company_name" required>
                {% endif %}
{#                <input type="text" name="company_name" class="form-control bg-grey" id="company_name" required>#}
                <label for="floatingInput">Company name</label>
                <div class="invalid-feedback">
                    Please choose a Company name.
                </div>
            </div>
            <div class="form-floating">
                {% if 'company_site' in data %}
                    <input type="text" name="company_site" class="form-control" id="company_site" value="{{ data['company_site'] }}" required>
                {% else %}
                    <input type="text" name="company_site" class="form-control" id="company_site" required>
                {% endif %}
{#                <input type="text" name="company_site" class="form-control" id="company_site" required>#}
                <label for="company_site">Company site</label>
                <div class="invalid-feedback">
                    Please choose a Company site.
                </div>
            </div>
            <div class="form-floating">
                {% if 'first_name' in data %}
                    <input type="text" name="first_name" class="form-control" id="first_name" value="{{ data['first_name'] }}" required>
                {% else %}
                    <input type="text" name="first_name" class="form-control" id="first_name" required>
                {% endif %}
{#                <input type="text" name="first_name" class="form-control" id="first_name" required>#}
                <label for="first_name">First Name</label>
                <div class="invalid-feedback">
                    Please choose a First Name.
                </div>
            </div>
            <div class="form-floating">
                {% if 'last_name' in data %}
                    <input type="text" name="last_name" class="form-control" id="last_name" value="{{ data['last_name'] }}" required>
                {% else %}
                    <input type="text" name="last_name" class="form-control" id="last_name" required>
                {% endif %}
{#                <input type="text" name="last_name" class="form-control" id="last_name" required>#}
                <label for="last_name">Last Name</label>
                <div class="invalid-feedback">
                    Please choose a Last Name.
                </div>
            </div>
            <div class="form-floating">
                {% if 'birthday' in data %}
                    <input type="date" name="birthday" class="form-control" id="birthday" value="{{ data['birthday'] }}" required>
                {% else %}
                    <input type="date" name="birthday" class="form-control" id="birthday" required>
                {% endif %}
{#                <input type="date" name="birthday" class="form-control" id="birthday" required>#}
                <label for="birthday">Birthday</label>
                <div class="invalid-feedback">
                    Please choose a Birthday.
                </div>
            </div>
            <div class="form-floating">
                {% if 'email' in data %}
                    <input type="email" name="email" class="form-control" id="email" value="{{ data['email'] }}" required>
                {% else %}
                    <input type="email" name="email" class="form-control" id="email" required>
                {% endif %}
{#                <input type="email" name="email" class="form-control" id="email" required>#}
                <label for="email">Email</label>
                <div class="invalid-feedback">
                    Please choose a Email.
                </div>
            </div>
            <div class="row justify-content-end mt-3">
                <div class="col text-end">
                    <button id="btnNextOn2" class="btn px-3 btn-sm btn-outline-secondary " type="button">next</button>
                </div>
            </div>

        </div>
        <div id="formStep2" class="conteiner">
            <h1 class="h3 mb-3 fw-normal">Address Infomation</h1>
            <div class="form-floating">
                {% if 'billing_country' in data %}
                    <input type="text" name="billing_country" class="form-control" id="billing_country" value="{{ data['billing_country'] }}" required>
                {% else %}
                    <input type="text" name="billing_country" class="form-control" id="billing_country" required>
                {% endif %}
{#                <input type="text" name="billing_country" class="form-control" id="billing_country" required>#}
                <label for="billing_country">Billing Country</label>
                <div class="invalid-feedback">
                    Please choose a Billing Country.
                </div>
            </div>
            <div class="form-floating">
                {% if 'billing_state' in data %}
                    <input type="text" name="billing_state" class="form-control" id="billing_state" value="{{ data['billing_state'] }}" required>
                {% else %}
                    <input type="text" name="billing_state" class="form-control" id="billing_state" required>
                {% endif %}
{#                <input type="text" name="billing_state" class="form-control" id="billing_state" required>#}
                <label for="billing_state">Billing State / Province</label>
                <div class="invalid-feedback">
                    Please choose a Billing State / Province.
                </div>
            </div>
            <div class="form-floating">
                {% if 'billing_zip' in data %}
                    <input type="text" name="billing_zip" class="form-control" id="billing_zip" value="{{ data['billing_zip'] }}" required>
                {% else %}
                    <input type="text" name="billing_zip" class="form-control" id="billing_zip" required>
                {% endif %}
{#                <input type="text" name="billing_zip" class="form-control" id="billing_zip" required>#}
                <label for="billing_zip">Billing Zip / Postal Code</label>
                <div class="invalid-feedback">
                    Please choose a Billing Zip / Postal Code.
                </div>
            </div>
            <div class="form-floating">
                {% if 'billing_city' in data %}
                    <input type="text" name="billing_city" class="form-control" id="billing_city" value="{{ data['billing_city'] }}" required>
                {% else %}
                    <input type="text" name="billing_city" class="form-control" id="billing_city" required>
                {% endif %}
{#                <input type="text" name="billing_city" class="form-control" id="billing_city" required>#}
                <label for="billing_city">Billing City</label>
                <div class="invalid-feedback">
                    Please choose a Billing City.
                </div>
            </div>
            <div class="form-floating">
                {% if 'billing_street' in data %}
                    <input type="text" name="billing_street" class="form-control" id="billing_street" value="{{ data['billing_street'] }}" required>
                {% else %}
                    <input type="text" name="billing_street" class="form-control" id="billing_street" required>
                {% endif %}
{#                <input type="text" name="billing_street" class="form-control" id="billing_street" required>#}
                <label for="billing_street">Billing Street</label>
                <div class="invalid-feedback">
                    Please choose a Billing Street.
                </div>
            </div>
            <div class="checkbox mb-3 mt-2 text-start">
                <label>
                    <input type="checkbox" name="add_shipping_address" value="true"> Add shipping address
                </label>
            </div>
            <div class="row justify-content-between mt-3">
                <div class="col text-start">
                    <button id="btnPrevOn1" class="btn px-3 btn-sm btn-outline-secondary" type="button">prev</button>
                </div>
                <div class="col text-end">
                    <button id="btnNextOn3" class="btn px-3 btn-sm btn-outline-secondary" type="button">next</button>
                </div>
            </div>
        </div>
        <div id="formStep3" class="conteiner">
            <h1 class="h3 mb-3 fw-normal">Check & Submit</h1>
            <div class="row text-start">
                <div class="col">
                    <p class="m-1">Company name</p>
                    <p class="m-1">Company site</p>
                    <p class="m-1">First Name</p>
                    <p class="m-1">Last Name</p>
                    <p class="m-1">Birthday</p>
                    <p class="m-1">Email</p>
                    <p class="m-1">Billing Country</p>
                    <p class="m-1">Billing State / Province</p>
                    <p class="m-1">Billing Zip / Postal Code</p>
                    <p class="m-1">Billing City</p>
                    <p class="m-1">Billing Street</p>
                </div>
                <div class="col text-start">
                    {% if 'company_name' in data %}
                        <p id="company_nameText" class="m-1">{{ data['company_name'] }}</p>
                    {% else %}
                        <p id="company_nameText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="company_nameText" class="m-1">null</p>#}

                    {% if 'company_site' in data %}
                        <p id="company_siteText" class="m-1">{{ data['company_site'] }}</p>
                    {% else %}
                        <p id="company_siteText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="company_siteText" class="m-1">null</p>#}

                    {% if 'first_name' in data %}
                        <p id="first_nameText" class="m-1">{{ data['first_name'] }}</p>
                    {% else %}
                        <p id="first_nameText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="first_nameText" class="m-1">null</p>#}

                    {% if 'last_name' in data %}
                        <p id="last_nameText" class="m-1">{{ data['last_name'] }}</p>
                    {% else %}
                        <p id="last_nameText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="last_nameText" class="m-1">null</p>#}

                    {% if 'birthday' in data %}
                        <p id="birthdayText" class="m-1">{{ data['birthday'] }}</p>
                    {% else %}
                        <p id="birthdayText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="birthdayText" class="m-1">null</p>#}

                    {% if 'email' in data %}
                        <p id="emailText" class="m-1">{{ data['email'] }}</p>
                    {% else %}
                        <p id="emailText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="emailText" class="m-1">null</p>#}

                    {% if 'billing_country' in data %}
                        <p id="billing_countryText" class="m-1">{{ data['billing_country'] }}</p>
                    {% else %}
                        <p id="billing_countryText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="billing_countryText" class="m-1">null</p>#}

                    {% if 'billing_state' in data %}
                        <p id="billing_stateText" class="m-1">{{ data['billing_state'] }}</p>
                    {% else %}
                        <p id="billing_stateText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="billing_stateText" class="m-1">null</p>#}

                    {% if 'billing_zip' in data %}
                        <p id="billing_zipText" class="m-1">{{ data['billing_zip'] }}</p>
                    {% else %}
                        <p id="billing_zipText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="billing_zipText" class="m-1">null</p>#}

                    {% if 'billing_city' in data %}
                        <p id="billing_cityText" class="m-1">{{ data['billing_city'] }}</p>
                    {% else %}
                        <p id="billing_cityText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="billing_cityText" class="m-1">null</p>#}

                    {% if 'billing_street' in data %}
                        <p id="billing_streetText" class="m-1">{{ data['billing_street'] }}</p>
                    {% else %}
                        <p id="billing_streetText" class="m-1">null</p>
                    {% endif %}
{#                    <p id="billing_streetText" class="m-1">null</p>#}
                </div>
            </div>
            <div class="row justify-content-between mt-3">
                <div class="col text-start">
                    <button id="btnPrevOn2" class="btn px-3 btn-sm btn-outline-secondary" type="button">prev</button>
                </div>
                <div class="col text-center">
                    {{ recaptcha }}
                </div>
                <div class="col text-end">
                    <button class="btn px-3 btn-sm btn-outline-secondary" type="submit">submit</button>
                </div>
            </div>
        </div>
    </form>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000" style="position: absolute; top: 1rem; right: 1rem;">
               <div class="toast-header">
                   <strong class="mr-auto">Input Error</strong>
                   <small>on last form submission</small>
               </div>
               <div class="toast-body text-start"></div>
           </div>
{% endblock %}

{% block userscript %}
    <script src="{{ url_for('static', filename='script.js') }}" ></script>
    {% if 'company_name' in data %}
        <script>
            $('.toast-body').text('Unknown error. Please try again later.');
            $('.toast').toast('show');
        </script>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    $('.toast-body').text('{{ message }}');
                    $('.toast').toast('show');
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
